*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

nav{
background:#111827;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4f46e5,#06b6d4);
color:white;
}

.btn{
background:white;
padding:12px 25px;
border-radius:20px;
text-decoration:none;
margin-top:20px;
}

.title{
text-align:center;
margin:30px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
}

button{
background:#4f46e5;
color:white;
border:none;
padding:10px;
border-radius:10px;
cursor:pointer;
}

.contact{
padding:50px;
text-align:center;
}